a {
  color: #000;
  border-bottom: 1px solid #000;
  display: inline-block;
}

.section {
  max-width: 1440px;
  margin: auto;
}

.overlay {
  position: absolute;
  background-color: #0006;
  width: 100%;
  height: 100%;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: 92px auto;
  padding: 0 50px;
}

.header .contacts {
  justify-self: right;
  padding-top: 4px;
  padding-right: 2px;
}

.header__menu {
  align-self: center;
  justify-self: left;
}

.header__menu-list {
  display: flex;
  gap: 33px;
  list-style: circle;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  border: none;
}

.header__logo {
  width: 136px;
}

.header__logo a {
  border: none;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  min-height: 757px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.cover__title {
  color: #fff;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
}

.cover__title span:first-child {
  padding-top: 165px;
  margin-bottom: 12px;
}

.cover__title-span {
  display: block;
  margin: auto;
  padding: 0 50px;
}

.text-center {
  margin-bottom: 4px;
  text-align: center;
}

.text-right {
  text-align: right;
}

.cover__title-span-wide {
  letter-spacing: 60px;
}

.cover__title-span-short {
  letter-spacing: 0px;
}

.cover__sub-title {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  gap: 78px;
  margin-top: 131px;
  margin-right: 50px;
  text-align: end;
}

.cover__sub-title-text {
  align-self: center;
  color: #fff;
  text-align: center;
  font-size: 22px;
  line-height: 127.273%;
  word-spacing: 18px;
  text-transform: uppercase;
  z-index: 1;
}

.bid-button {
  width: 257px;
  height: 52px;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  z-index: 1;
}

.lots__heading {
  padding-top: 180px;
  padding-bottom: 27px;
  padding-left: 90px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0 50px;
}

.lots__card-list-item {
  list-style: none;
}

.card-link {
  display: block;
  text-decoration: none;
  border: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 430px;
  min-height: 450px;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
  z-index: 1;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.card__text {
  color: #fff;
  font-size: 20px;
  line-height: 120%;
  z-index: 1;
  margin-bottom: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.lots__look-more-link {
  margin-top: 30px;
  margin-left: 90px;
  font-size: 20px;
}

.about {
  margin: auto;
  padding: 0 50px;
  margin-top: 181px;
  display: grid;
  grid-template-columns: 430px 1fr;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 auto;
}

.about__logo img {
  margin: 63px 46px;
  width: 148px;
}

.about__title {
  margin-top: 100px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  margin-top: 100px;
  font-size: 20px;
}

.about__text:last-child {
  margin-top: 25px;
}

.about__column:last-child {
  margin-left: 25px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin: auto;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 90px;
}

.contacts {
  line-height: 135%;
  justify-self: left;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-item_active {
  list-style: none;
}

.footer__menu-link_active .footer__menu-link {
  border: none;
}

.footer__social {
  justify-self: right;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  gap: 44px;
  list-style: none;
}

.footer__social-list a {
  border: none;
}

.footer__social-list img {
  width: 48px;
  height: 48px;
}
